@import '~antd/dist/antd.css';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.body-box{
  height: 100%;
  width: 100%;
  position: absolute;
}

.heand-title{
  width:100%;
  padding-left: 20px;
  background: #0081c2 ;
  color:#fff;
  font-size: 20px;
  line-height: 50px;
}

.content-box{
  width: 100%;
  height: 100%;
  height: calc(100% - 50px);
  display: flex;
}

.ant-menu{
  height: calc(100% - 50px);
}

.left-box{
  height: 100%;
  border:1px solid #ddd;
}

.right-box{
  width: 100%;
}




