@import '~antd/dist/antd.css';

*{
  box-sizing: border-box;
}

li {
  list-style: none;
}

body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.body-box{
  height: 100%;
  width: 100%;
  position: absolute;
}

.heand-title{
  width:100%;
  padding-left: 20px;
  background: #0081c2 ;
  color:#fff;
  font-size: 20px;
  line-height: 50px;
}

.content-box{
  width: 100%;
  height: 100%;
  height: calc(100% - 50px);
  display: flex;
}

.ant-menu{
  height: calc(100% - 50px);
}

.left-box{
  height: 100%;
  border:1px solid #ddd;
}



.right-box{
  width: 100%;
}
.right-ul{
  width: 100%;
  border:1px solid red;
}
.right-div{
  border: 1px solid yellowgreen;
}
.li-item{
  width: 50px;
  height: 50px;

}
.li-item1{
  background: #edf;
  /* float: left; */
}
.li-item2{
  background: #def;
}
.li-item3{
  background: #dfe;
}
.li-item4{
  background: #efd;
}

